[Unit]
Description=Stay Focus
After=network-online.target

[Service]
Type=notify
# The path should be absolute path
ExecStart=/home/${USER_NAME}/go/bin/StayFocus

[Install]
WantedBy=multi-user.target
